.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  @include themify($themes) {
    background-color: themed('elementColor');
  }

  -webkit-box-shadow: 0px 1px 10px 0px #17171740;
  -moz-box-shadow: 0px 1px 10px 0px #17171740;
  box-shadow: 0px 1px 10px 0px #17171740;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-size: 1rem;
    @include themify($themes) {
      color: themed('textColor');
    }
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;

    @include themify($themes) {
      color: themed('textColor');
    }

    & span {
      margin-left: 6px;
      font-weight: 600;
    }
  }

  @media screen and (min-width: 769px) {
    &__title {
      font-size: 1.53rem;
    }
    &__button {
      font-size: initial;
    }
  }
}
