.main {
  padding-top: 20px;
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }

  &__input {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px;
    padding-left: 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    @include themify($themes) {
      background-color: themed('elementColor');
      color: themed('textColor');
    }

    -webkit-box-shadow: 0px 1px 10px 0px #17171740;
    -moz-box-shadow: 0px 1px 10px 0px #17171740;
    box-shadow: 0px 1px 10px 0px #17171740;
    & input {
      padding: 0;
      border: none;
      margin-left: 25px;
      outline: none;
      font-size: 1rem;
      background: transparent;
      @include themify($themes) {
        color: themed('textColor');
      }
    }
    ::placeholder {
      font-size: .78rem;
      border: none;
      @include themify($themes) {
        background: themed('elementColor');
        color: themed('textColor');
      }
    }
  }

  &__filter {
    height: fit-content;
    padding: 15px 55px 15px 25px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 10px 0px #17171740;
    -moz-box-shadow: 0px 1px 10px 0px #17171740;
    box-shadow: 0px 1px 10px 0px #17171740;
    outline: none;
    @include themify($themes) {
      background-color: themed('elementColor');
      color: themed('textColor');
    }

    & .filter__option--disabled {
      display: none;
    }
  }

  @media screen and (min-width: 769px) {
    .container {
      display: flex;
      justify-content: space-between;
    }

    &__input {
      width: 480px;
      ::placeholder {
        font-size: .9rem;
      }
    }
  }
}